.item_div{
  /* border: 2px solid red; */
  display: flex;
  /* width: 320px; */
  height: 60px;
  align-items: center;
  justify-content: space-between;
 

  background: linear-gradient(110deg, #867337 20%, #3fc4a7 80%);
border: 3px solid teal;
padding: 10px;



 
}
.item_div>h2:nth-child(1){
  margin: 0px;
  padding: 0px;
  background-color: rgb(17, 128, 85);
  color: rgb(169, 231, 231);
  padding: 10px;
}
.item_div button:nth-child(3){
  /* width: 80px; */
height: 40px;
margin-top: 10px;
font-size: 20px;
border-radius: 10px;
background-color: rgb(226, 43, 43);
color: aliceblue;
font-weight: bold;
}
.item_div button:nth-child(2){
  /* width: 80px; */
height: 40px;
margin-top: 10px;
font-size: 20px;
border-radius: 10px;
background-color: blueviolet;
color: aliceblue;
font-weight: bold;
}